.subTitle {
    font-size: 50%;
}

.login-page {
    background-image: url('../images/bg.jpg');
}

.center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.event-new-box {
    width: 800px;
}

.info-box-icon > i.fa {
    line-height: 2;
}

.backButton {
    position: absolute;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

.logout {
    position: absolute;
    right: 10px;
    top: 5px;
}

table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting:after {
    content: '' !important;
}

.marginTop {
    margin-top: 15px;
}